# 02-6 집합 자료형
## 집합 자료형은 어떻게 만들까?
---
집합(set)은 파이썬 2.3부터 지원하기 시작한 자료형이고, 집합에 관련된 것들을 쉽게 처리하기 위해 만든 자료형이다.  
집합 자료형은 set 키워드로 만들 수 있다.

In [1]:
s1 = set([1,2,3])
s1

{1, 2, 3}

위의 예시처럼 set()의 괄호 안에 리스트를 입력하여 만들거나 아래와 같이 문자열을 입력하여 만들 수 있다.

In [2]:
s2 = set("Hello")
s2

{'H', 'e', 'l', 'o'}

In [3]:
# 비어 있는 집합 자료형은 아래와 같이 만들 수 있다.
s = set()
s

set()

## 집합 자료형의 특징
---
위에서 set("Hello")의 결과를 보았을 때 set에는 2가지 큰 특징이 있는 것을 알 수 있다.

* 중복을 허용하지 않는다.
* 순서가 없다(Unordered).  

리스트나 튜플은 순서가 있기(ordered) 때문에 인덱싱을 통해 자료형의 값을 얻을 수 있지만, set 자료형은 순서가 없기 때문에 인덱싱으로 값을 얻을 수 없다. 이는 딕셔너리와 비슷한 특징이다. 딕셔너리 역시 unordered 이므로 인덱싱을 지원하지 않는다.  
만약 set 자료형에 저장된 값을 인덱싱으로 접근하려면 리스트나 튜플로 변환한 뒤에 해야 한다.  
<br>
*중복을 허용하지 않는 set의 특징은 자료형의 중복을 제거하기 위한 필터 역할로 종종 사용하기도 한다.*

In [1]:
s1 = set([1,2,3])
l1 = list(s1)
l1

[1, 2, 3]

In [2]:
l1[0]

1

In [3]:
t1 = tuple(s1)
t1

(1, 2, 3)

In [4]:
t1[0]

1

## 교집합, 합집합, 차집합 구하기
---
set 자료형은 교집합, 합집합, 차집합을 구할 때 유용하게 사용할 수 있다.

In [5]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

### 1. 교집합
s1과 s2의 교집합은 "&"기호를 이용하면 간단히 구할 수 있다.

In [6]:
s1 & s2

{4, 5, 6}

또는 다음과 같이 intersection 함수를 사용해도 동일한 결과를 반환해준다.  
s2.intersection(s1)을 해도 결과는 동일하다.

In [7]:
s1.intersection(s2)

{4, 5, 6}

### 2. 합집합
합집합은 "|" 기호를 사용해서 구하고, 중복해서 포함된 값은 한 개씩만 표현된다.

In [8]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

union 함수를 사용해도 합집합한 결과를 동일하게 얻을 수 있다.

In [9]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [10]:
# 동일한 결과를 얻는 것을 알 수 있다.
s2.union(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

### 3. 차집합
차집합은 차집합의 특성처럼 빼기(-) 기호를 사용해서 표현한다.

In [11]:
s1 - s2

{1, 2, 3}

In [12]:
s2 - s1

{7, 8, 9}

difference 함수를 사용해도 차집합을 구할 수 있다.

In [13]:
s1.difference(s2)

{1, 2, 3}

In [14]:
s2.difference(s1)

{7, 8, 9}

## 집합 자료형 관련 함수들
---
### 1. 값 1개 추가하기(add)
이미 만들어진 set 자료형에 값을 추가할 수 있다. 1개의 값만 추가(add)할 경우에는 다음과 같이 한다.

In [16]:
s1 = set([1,2,3,])
s1.add(4)
s1

{1, 2, 3, 4}

### 2. 값 여러 개 추가하기(update)
여러 개의 값을 한 번에 추가(update)할 때는 다음과 같이 하면 된다.

In [19]:
s1 = set([1,2,3])
s1.update([4,5,6])
s1

{1, 2, 3, 4, 5, 6}

### 3. 특정 값 제거하기(remove)

In [21]:
s1 = set([1,2,3])
s1.remove(3)
s1

{1, 2}