## 문자열 포매팅(Formatting)
---

### <문자열 포매팅 따라 하기>

#### 1. 숫자 바로 대입

In [3]:
"I eat %d apples." %3

'I eat 3 apples.'

#### 2. 문자열 바로 대입
숫자를 넣기 위해서는 %d를 사용했다면 문자를 넣을 때는 %s를 사용한다. 또한 문자열을 대입할 때는 큰따옴표나 작은따옴표를 반드시 써주어야 한다.

In [5]:
"I eat %s apples." %"five"

'I eat five apples.'

#### 3. 숫자 값을 나타내는 변수로 대입, 2개 이상의 값 넣기
숫자 값을 나타내는 변수를 대입해서 사용도 가능하며, 문자열 안에 1개가 아닌 여러 개의 값을 넣고 싶다면 마지막 % 다음에 괄호를 작성하여 콤마로 구분하여 각각의 값을 넣어준다.

In [7]:
number = 10
print("I eat %d apples." %number)

day = "three"
print("I ate %d apples. So I was sick for %s days." %(number, day))

I eat 10 apples.
I ate 10 apples. So I was sick for three days.

### 문자열 포맷 코드
위에서 다룬 정수와 문자열 외에도 다양한 것을 대입하는 것이 가능하다.

| 코드 | 설명                        |  
| :--: | :-------------------------: |
| %s   | 문자열(string)              |
| %c   | 문자 1개(character)         |
| %d   | 정수(Integer)               |
| %f   | 부동소수(floating point)    |
| %o   | 8진수                       |
| %x   | 16진수                      |
| %%   | Literal % (answk % 그 자체) |

%s는 자동을 %뒤에 있는 값을 문자열로 바꾼다. 따라서 아래와 같은 것도 가능하다.

In [2]:
print("I have %s apples" %3)
print("rate is %s" %3.234)

I have 3 apples
rate is 3.234

### <포맷 코드와 숫자 함께 사용하기>
포맷 코드는 문자열 안에 어떤 값을 삽입하기 위해 사용한다. 이러한 포맷 코드를 숫자와 함께 사용한다면 더 유용하게 사용이 가능하다.


#### 1. 정렬과 공백
%10s 는 전체 길이가 10개인 문자열 공간에 대입되는 값을 오른쪽으로 정렬하고 그 앞의 나머지는 공백으로 남겨두라는 것이다.  
반대로 왼쪽 정렬은 %-10s가 된다.

In [6]:
print("%10s" %"hi")
print()
print("%-10sjane." %"hi")

        hi

hi        jane.

#### 2. 소수점 표현하기
'.'는 소수점 포인트를 뜻하고 그 뒤의 숫자 n은 소수점 뒤에 나올 숫자의 개수를 뜻한다.

In [7]:
"%0.4f" % 3.42134234

'3.4213'

소수점 네 번째 자리까지만 표시하고 전체 길이가 10개인 문자열 공간에서 오른쪽으로 정렬하는 경우이다.

In [16]:
"%10.4f" % 3.42134234

'    3.4213'

### <format 함수를 사용한 포매팅>
문자열의 format함수를 사용하면 좀 더 발전된 스타일로 문자열 포맷을 지정할 수 있다.

#### 1. 숫자 바로 대입하기
{0} 부분이 숫자 3으로 바뀐다.

In [17]:
"I eat {0} apples.".format(3)

'I eat 3 apples.'

#### 2. 문자열을 바로 대입하기
숫자와 마찬가지로 {0}부분이 문자열로 바뀐다.

In [18]:
"I eat {0} apples.".format("three")

'I eat three apples.'

#### 3. 숫자 값을 가진 변수로 대입하는 것도 가능하다.

In [19]:
number = 3
"I eat {0} apples.".format(number)

'I eat 3 apples.'

#### 4. 2개 이상의 값 넣기
마찬가지로 변수를 사용해서 2개 이상의 값을 넣을 수 있고 {0}, {1}과 같은 인덱스 항목이 format 함수의 입력값으로 순서에 맞게 바뀐다.

In [21]:
number = 10
day = "three"
"I ate {0} apples. So I was sick for {1} days.".format(number, day)

'I ate 10 apples. So I was sick for three days.'

#### 5. 이름으로 넣기
{name} 형태를 사용하는 방법도 있다. {name} 형태를 사요할 때는 format 함수에 반드시 name = value와 같은 형태의 입력값이 있어야 한다.  
또한 인덱스와 이름을 혼용해서 넣는 방법도 가능하다.

In [23]:
print("I ate {number} apples. So I was sick for {day} days.".format(number=10, day=3))
print()
print("I ate {0} apples. So I was sick for {day} days.".format(10, day=3))

I ate 10 apples. So I was sick for 3 days.

I ate 10 apples. So I was sick for 3 days.

#### 6. 정렬하기
:<10 표현식을 사용하면 치환되는 문자열을 왼쪽으로 정렬하고 문자열의 총 자릿수를 10으로 맞출 수 있다.  
화살표(<)의 방향을 바꾸면서 왼쪽, 오른쪽, 중앙으로 정렬 위치를 바꿀 수 있다.

In [38]:
# 왼쪽 정렬
"{0:<10}".format("hi")

'hi        '

In [36]:
#오른쪽 정렬
"{0:>10}".format("hi")

'        hi'

In [44]:
#중앙 정렬
"{0:^10}".format("hi")

'    hi    '

#### 7. 공백 채우기
정렬 후 남은 공백을 공백 문자 대신 특정한 문자로 채워 넣는 것도 가능하다. 채워 넣을 문자는 반드시 정렬 문자(<, >, ^) 바로 앞에 와야 한다.

In [40]:
"{0:=^10}".format("hi")

'====hi===='

In [42]:
"{0:!<10}".format("hi")

'hi!!!!!!!!'

#### 8. 소수점 표현하기

In [45]:
y = 3.12341234
"{0:0.4f}".format(y)

'3.1234'

In [46]:
y = 3.12341234
"{0:10.4f}".format(y)

'    3.1234'

#### 9. '{' 또는 '}' 문자 표현하기
format 함수를 사용해서 문자열 포매팅을 할 경우 { }와 같은 중괄호 문자를 포매팅 문자가 아닌 문자 그대로 사용하고 싶은 경우에는 {{ }}처럼 2개를 연속해서 사용한다.

In [53]:
"{{ and }}".format()

'{ and }'

### <f 문자열 포매팅>
파이썬 3.6부터 f 문자열 포매팅 기능을 사용할 수 있다. 파이썬 3.6 미만 버전에서는 사용이 불가능한 기능이다.  
문자열 앞에 f 접두사를 붙이면 f 문자열 포매팅 기능을 사용할 수 있다.

In [55]:
name = "홍길동"
age = 26
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 26입니다.'

f 문자열 포매팅은 위와 같이 name, age와 같은 변수 값을 생성한 뒤에 그 값을 참조하는 것이 가능하다. 또한 f문자열 포매팅은 표현식을 지원하기 때문에 아래와 같은 것도 가능하다.  
* 표현식이란 문자열 안에서 변수와 +, -와 같은 수식을 함께 사용하는 것을 말한다.

In [57]:
age = 26
f'나는 내년이면 {age+1}살이 된다.'

'나는 내년이면 27살이 된다.'

딕셔너리는 f 문자열 포매팅에서 아래와 같이 사용이 가능하다.
* 딕셔너리는 Key와 Value라는 것을 한 쌍으로 가지는 자료형이다.

In [58]:
d = {'name':'홍길동', 'age':26}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 26입니다.'

정렬은 아래와 같은 방법으로 진행한다.

In [60]:
# 왼쪽 정렬
f'{"hi":<10}'

'hi        '

In [61]:
# 오른쪽 정렬
f'{"hi":>10}'

'        hi'

In [62]:
# 중앙 정렬
f'{"hi":^10}'

'    hi    '

In [63]:
# 가운데 정렬 후 공백 채우기
f'{"hi":=^10}'

'====hi===='

In [64]:
# 왼쪽 정렬 후 공백 채우기
f'{"hi":!<10}'

'hi!!!!!!!!'

## 문자열 관련 함수들
---
문자열 자료형은 자체적으로 함수를 가지고 있다. 이들 함수를 다른 말로 문자열 내장 함수라고 한다. 이 내장 함수를 사용하기 위해서는 문자열 변수 이름 뒤에 '.'를 붙인 다음에 함수 이름을 작성하면 된다.

### 1. 문자 개수 세기(count)

In [65]:
# 문자열 중 문자 b의 개수를 return한다.
a = "hobby"
a.count('b')

2

### 2. 위치 알려주기1(find)

In [69]:
# 문자열 중 문자 b가 처음으로 나온 위치를 반환한다. 만약 찾는 문자나 문자열이 존재하지 않는다면 -1을 반환한다.
a = "Python is the best choice"
print(a.find('b'))
print(a.find("k"))

14
-1

### 3. 위치 알려주기2(index)

In [71]:
# 문자열 중 문자 t가 맨 처음으로 나온 위치를 반환한다. 만약 찾는 문자나 문자열이 존재하지 않는다면 오류를 발생시킨다.
a = "Life is too short."
print(a.index('t'))
#print(a.index('k'))

8

### 4. 문자열 삽입(join)
abcd 문자열의 각각의 문자 사이에 ','를 삽입한다.  
join함수는 문자열뿐만 아니라 리스트나 튜플도 입력으로 사용할 수 있다.

In [72]:
",".join('abcd')

'a,b,c,d'

In [73]:
# 입력으로 리스트를 사용
",".join(['a', 'b', 'c', 'd'])

'a,b,c,d'

### 5. 소문자, 대문자 바꾸기(upper, lower)

In [74]:
# 소문자를 대문자로 바꾸기(upper)
a = "hi"
a.upper()

'HI'

In [76]:
# 대문자를 소문자로 바꾸기(lower)
a = "HI"
a.lower()

'hi'

### 6. 공백 지우기

In [79]:
# 왼쪽 공백 지우기(lstrip)
a = " hi "
a.lstrip()

'hi '

In [80]:
# 오른쪽 공백 지우기(rstrip)
a = " hi "
a.rstrip()

' hi'

In [81]:
# 양쪽 공백 지우기(strip)
a = " hi "
a.strip()

'hi'

### 7. 문자열 바꾸기(replace)
replace(바뀌게 될 문자열, 바꿀 문자열)처럼 사용해서 문자열 안의 특정한 값을 다른 값으로 치환해준다.  
이 때, 문자열에 존재하는 모든 바뀌게 될 문자열을 바꾼다. 따라서 아래의 예시에서 'Life'가 만약 전체 문장에 2번 쓰여져 있다면 둘 다 바뀌는 것이다.

In [84]:
a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

In [85]:
a = "Life is too short Life"
a.replace("Life", "Your leg")

'Your leg is too short Your leg'

### 8. 문자열 나누기(split)

In [88]:
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

In [89]:
b = "a:b:c:d"
b.split(':')

['a', 'b', 'c', 'd']

split 함수는 a.split()과 같이 괄호 안에 아무 것도 없을 때는 공백을 기준으로 문자열을 나눈다. 만약 b.split(':')과 같이 괄호 안에 특정 값이 있을 때는 이 값을 기준으로 문자열을 나눈다.  
이렇게 나눈 값은 리스트에 하나씩 들어가게 된다.