# 02장 연습문제
---

## Q1
---
홍길동씨의 과목별 점수는 다음과 같다. 홍길동씨의 평균 점수를 구해보자.
  
| 과목 | 점수 |
| :--: | :--: |
| 국어 | 80 |
| 영어 | 75 |
| 수학 | 55 |

In [1]:
a = 80
b = 75
c = 55
(a+b+c)/3

70.0

## Q2
---
자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해 말해 보자.  
<br>
어떤 자연수가 홀수인지 짝수인지 판별할 때는 2로 나누었을 때 나머지를 확인하면 된다. 2로 나누었을 때 나머지가 0이면 짝수이고, 나머지가 1이라면 홀수이다. 이것을 판별할 수 있는 방법은 모듈로 연산자(%)를 사용하는 것이다.

In [5]:
n = 13
modResult = n % 2
if modResult == 0 :
    print('짝수입니다.')
else :
    print('홀수입니다.')

홀수입니다.

## Q3
---
홍길동씨의 주민등록번호는 881120-1068234이다. 홍길동 씨의 주민등록번호를 연월일 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자(문자열 슬라이싱 기법을 사용한다).

In [10]:
a = '881120-1068234'
yymmdd = a[:6]
rear = a[7:]
print(yymmdd)
print(rear)

881120
1068234

## Q4
---
주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해보자.

In [3]:
pin = "881120-1068234"
pin[7]

'1'

## Q5
---
다음과 같은 문자열 a:b:c:d가 있다. 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해 보자.

In [5]:
a = "a:b:c:d"
a.replace(":", "#")

'a#b#c#d'

## Q6
---
\[1, 3, 5, 4, 2\] 리스트를 \[5, 4, 3, 2, 1\]로 만들어 보자.
> 리스트의 내장 함수를 사용해 보자.

In [14]:
# sort함수로 오름차순으로 정렬 한 뒤 reverse()함수를 통해서 순서를 뒤집는다.
a = [1, 3, 5, 4, 2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [15]:
# sort함수에서 reverse flag를 True로 전환한다.
a = [1, 3, 5, 4, 2]
a.sort(reverse = True)
print(a)

[5, 4, 3, 2, 1]

## Q7
---
\['Life', 'is', 'too', 'short'\] 라는 리스트를 Life is too short라는 문자열로 만들어 출력해보자.
> 문자열의 join함수를 사용하면 리스트를 문자열로 쉽게 만들 수 있다.

In [17]:
charList = ['Life', 'is', 'too', 'short']
newCharList = " ".join(charList)
print(newCharList)

Life is too short

## Q8
---
(1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해 보자.
> 더하기(+)를 사용해 보자.

In [20]:
t1 = (1,2,3)
t2 = (4,)
t1 += t2
t1

(1, 2, 3, 4)

t1 튜플에 (4,)라는 튜플을 더하면 된다. 이 때 만들어지는 t1 += t2의 결과는 t1의 값이 변경되는 것이 아니라(튜플은 그 값을 변경할 수 없다) 새로운 튜플이 생성되고 그 값이 변수 t1에 대입되는 것이다. 아래 코드를 보면 t1의 고유 주소 값이 변경되었음을 알 수 있다.

In [22]:
t1 = (1,2,3)
t2 = (4,)
print(id(t1))
t1 += t2
print(id(t1))

2279017283136
2279003185696

## Q9
---
다음과 같은 딕셔너리 a가 있다.

In [23]:
a = dict()
a

{}

다음 중 오류가 발생하는 경우를 고르고, 그 이유를 설명해보자.
> 1. a\['name'\] = 'python'
2. a\[('a',)\] = 'python'
3. a\[\[1\]\] = 'python'
4. a\[250\] = 'python'

1. a\['name'\] = 'python'
딕셔너리 a에 Key는 name, Value는 python인 딕셔너리 쌍이 추가되었다.

2. 튜플은 그 값이 변하지 않기 때문에 딕셔너리의 Key로 사용될 수 있다. 따라서 key가 ('a',)이고 Value는 'python'인 딕셔너리 쌍이 추가된다.

3. 튜플과 달리 리스트는 그 값이 변화할 수 있기 때문에 딕셔너리의 Key로 사용할 수 없다. 따라서 오류가 발생한다.

4. 1번과 동일하다. Key가 250이고 Value가 python인 딕셔너리 쌍이 추가된다.

In [25]:
a['name'] = 'python'
a

{'name': 'python'}

In [26]:
a[('a',)] = 'python'
a

{'name': 'python', ('a',): 'python'}

In [27]:
a[[1]] = 'python'
a

TypeError: unhashable type: 'list'

In [28]:
a[250] = 'python'
a

{'name': 'python', ('a',): 'python', 250: 'python'}

## Q10
---
딕셔너리 a에서 'B'에 해당되는 값을 추출해보자.
> 딕셔너리의 pop함수를 사용해보자.

In [36]:
a = {'A':90, 'B':80, 'C':70}
b = list(a.values())
b

[90, 80, 70]

In [37]:
b.pop(1)

80

In [38]:
b

[90, 70]

위의 나의 풀이와는 다르게 저자는 좀 더 간단하게 풀이했다. 딕셔너리 자체도 리스트와 마찬가지로 pop함수를 사용할 수 있는데 나는 딕셔너리에서 사용할 수 있다는 점을 모르고 있었다. 그래서 value들의 리스트를 따로 만들고 거기서 pop을 수행해서 index 1번의 값을 가져왔다.  
<br>
하지만 저자는 value에 대한 리스트를 만드는 과정을 하지 않고 바로 딕셔너리 a에서 pop을 수행해서 B에 해당하는 값을 추출했다.

In [40]:
a = {'A':90, 'B':80, 'C':70}
result = a.pop('B')
print(a)
print(result)

{'A': 90, 'C': 70}
80

참고로 pop함수를 사용하지 않고 get 함수로도 Key 'B'에 해당하는 Value를 얻을 수도 있다.

In [41]:
a = {'A':90, 'B':80, 'C':70}
a.get('B')

80

## Q11
---
a 리스트에서 중복 숫자를 제거해 보자.
> 집합 자료형의 요솟값이 중복될 수 없다는 특징을 사용해 보자.

In [47]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
a = set(a)      # a 리스트를 집합 자료형으로 변환 --> 중복 숫자 제거
a = list(a)     # 집합 자료형을 다시 리스트 자료형으로 변환
a

[1, 2, 3, 4, 5]

## Q12
---
파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 다음과 같이 a, b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면 b 값은 어떻게 될까? 그리고 이런 결과가 오는 이유에 대해 설명해보자.

In [49]:
a = b = [1,2,3]
a[1] = 4
print(b)
print(a)

[1, 4, 3]
[1, 4, 3]

a = b = \[1,2,3\]
여기서 a와 b는 완전히 동일하다. 다만 \[1,2,3\]리스트를 참조하는 변수가 a와 b 총 2개인 것이다. a와 b는 서로 가리키고 있는 대상이 동일하다. 즉, 동일한 객체를 가리키고 있는 것이기 때문에 a의 두 번째 요솟값을 변경하면 b값도 동일하게 변경된다.